footer.wrapper.footer
  .container
    .site-info
      .site-info__logo
        a.site-info__logo-link(href="#")
          img.site-info__logo-image(src="images/logo.svg")
      p.site-info__description Gagnez du temps, <br> faites ce que vous aimez!
      .site-info__social
        a.site-info__social-link(href="#")
          img.site-info__social-icon(src="images/fb.svg")
        a.site-info__social-link(href="#")
          img.site-info__social-icon(src="images/inst.svg")
        a.site-info__social-link(href="#")
          img.site-info__social-icon(src="images/in.svg")
    .footer__menu
      h5.footer__menu-header Fonctionnalités
      ul.footer__menu-list
        li.footer__menu-item
          a.footer__menu-link(href="") Suivi et analyse de l'activité
        li.footer__menu-item
          a.footer__menu-link(href="") Devis & facturation
        li.footer__menu-item
          a.footer__menu-link(href="") Gestion des projets et clients
    .footer__menu
      h5.footer__menu-header À propos
      ul.footer__menu-list
        li.footer__menu-item
          a.footer__menu-link(href="") Tarifs
        li.footer__menu-item
          a.footer__menu-link(href="") Centre d'aide
        li.footer__menu-item
          a.footer__menu-link(href="") CGV
        li.footer__menu-item
          a.footer__menu-link(href="") Politique de confidentialité
    .footer__menu
      h5.footer__menu-header Ressources
      ul.footer__menu-list
        li.footer__menu-item
          a.footer__menu-link(href="") Deals
        li.footer__menu-item
          a.footer__menu-link(href="") Outils
        li.footer__menu-item
          a.footer__menu-link(href="") Blog
        li.footer__menu-item
          a.footer__menu-link(href="") Simulateur TJM

